<!DOCTYPE html>
<html lang="en">
<head>
<title>Image Recognition</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>

<div class="topnav">
  <a href="/">Recognition</a>
  <a href="/upload">Upload</a>
  <a href="/contact">Contact</a>
</div>

<div class="content">
  <h2>Detect popular brands in images</h2>
  <p>Brand detection is a specialized mode of object detection that uses a database of thousands of global logos to identify commercial brands in images or video. You can use this feature, for example, to discover which brands are most popular on social media or most prevalent in media product placement.</p>
</div>

<div class="footer">
  <p>Signal Beacon Limited</p>
</div>

</body>
</html>
