<!DOCTYPE html>
<html lang="en">
<head>
<title>Image Recognition</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/upload">Upload</a>
  <a href="/contact">Contact</a>
</div>

<div class="content">
  <h2>Brand Detection</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
{% if filename %}
	<div>
		<p class="aligncenter">
			<img src="{{ url_for('display_image', filename=filename) }}" width="600" >
		</p>
	</div>
{% endif %}


</div>

<div class="footer">
  <p>Signal Beacon Limited</p>
</div>

</body>
</html>
